---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostDescription from '../../components/PostDescription.astro';
import PaginationArrows from '../../components/PaginationArrows.astro';

interface Props {
  page?: {
    url?: {
      next?: string;
      prev?: string;
    };
    data?: any;
    lastPage?: number;
    currentPage?: number;
  };
}

export async function getStaticPaths({ paginate }) {
    const API_URL = import.meta.env.API_URL;

    const posts_data = await fetch (`${API_URL}/api/v2/posts/?fields=intro&limit=20`).then(response => response.json());
    const posts = posts_data.items;

    // Return a paginated collection of paths for all posts
    return paginate(posts, { pageSize: 3 });
}


const { page } = Astro.props;
const { prev, next} = page.url;

const pageTitle = 'Posts Index';
---
<BaseLayout pageTitle={pageTitle}>
    <main>
        <div class="mb-5">
            <h2 class="text-3xl font-bold">Posts</h2>
            <p>Todos los articulos que he publicado.</p>
        </div>

        <div class="flex lg:flex-row flex-col flex-wrap">
            {
                page.data.map((post) => (
                    <PostDescription
                        postURL = {`/posts/${post.meta.slug}`}
                        postTitle={post.title}
                        postDate={post.meta.first_published_at}
                        postDescription={post.intro}
                    />
                ))
                
            }
        </div>

        <PaginationArrows prev={prev} next={next} />
        
    </main>

</BaseLayout>