---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Author from "../../components/Author.astro";

import { Code } from 'astro:components';

const API_URL = import.meta.env.API_URL;

const {slug} = Astro.params;

const postBySlug = await fetch (`${API_URL}/api/v2/posts/?slug=${slug}`).then(response => response.json());

const postID = postBySlug.results[0].id;

const post  = await fetch (`${API_URL}/api/v2/posts/${postID}`).then(res => res.json());

const prog_language = post.programming_language;

---
<BaseLayout pageTitle={post.title}>
    <div class="mb-20">
        <h2 class="text-4xl font-bold mb-3 text-orange-500">
            {post.title}
        </h2>
        <div class="flex flex-wrap">
            <p class="text-gray-500 mt-1 mb-5 me-3">
                <i class='bx bxs-calendar me-1'></i>
                Publicado: 
                {post.date}
            </p>
            {
                post.date != post.latest_revision_created_at ?
                    <p class="text-gray-500 mt-1 mb-2">
                        | Actualizado: 
                        {post.latest_revision_created_at}
                    </p>
                : <div></div>
            }
        </div>
        <div class="text-gray-400">
            <Fragment set:html={post.intro} />
        </div>
    </div>

    <div class="mb-8">
        {
            post.body.map((item) => (
               item.type == "heading" ? <h2 class="text-3xl font-bold mb-5 underline underline-offset-4">{item.value}</h2>
               :item.type == "subtitle" ? <h2 class="text-2xl mb-3 mt-10 font-bold underline underline-offset-4">{item.value}</h2>
               : item.type == "paragraph" ? <div class="text-lg mt-5 mb-5" set:html={item.value}></div>
               : item.type == "image" ? <img class="w-2/3 mx-auto mt-3 mb-3" src={item.value.large.src} alt="">
               : item.type == "quote" ? <blockquote class="bg-slate-950 p-4 block italic text-xl mt-5 mb-5" set:html={item.value}></blockquote>
               : item.type == "code_snippet" ? <p class="mt-5 mb-5"><Code code={item.value} lang={prog_language} theme="github-dark"/></p>
               : <div>{item.value}</div>
            ))
            
        }
    </div>

    <div class="mt-5">
        <span>Tags: </span>
        <div class="flex flex-wrap">
            {
                post.tags.map((tag) => (
                    <a href={`/tags/${tag}`} class=" me-5 mb-3 md:mb-5 font-bold text-orange-500 hover:border-b-4 hover:border-orange-600 hover:border-dashed">
                        {`#${tag}`}
                    </a>
                ))
            }
        </div> 
    </div>
    
    <Author />

    
</BaseLayout>