---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Author from "../../components/Author.astro";
import TableOfContents from "../../components/TableOfContents.astro";

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import { components } from '../../components/PortableTextComponents.jsx';

const { slug } = Astro.params;

const POST_BY_SLUG_QUERY = `*[
    _type == "post" && slug.current == "${slug}"
][0]{
    _id,
    title,
    excerpt,
    publishedAt,
    _updatedAt,
    body
}`;

const post = await sanityClient.fetch<SanityDocument[]>(POST_BY_SLUG_QUERY);
const portableText = post.body;

function addTargetBlankToLinks(html: string) {
    return html.replace(/<a /g, '<a target="_blank" ');
}

function formatDate(date: Date){
    const dateFormatting =  {
        weekday: 'short', 
        year: 'numeric', 
        month: 'numeric', 
        day: 'numeric'
    };

    return new Date(date).toLocaleDateString("es-ES", dateFormatting)
}

---
<BaseLayout pageTitle={post.title}>
    <div class="mb-20">
        <h2 class="text-4xl font-bold mb-3 text-orange-500">
            {post.title}
        </h2>
        <div class="flex flex-wrap">
            <p class="text-gray-500 mt-1 mb-5 me-2">
                <i class='bx bxs-calendar me-1'></i>
                Publicado: 
                {formatDate(post.publishedAt)}
            </p>
            {
                post.publishedAt != post._updatedAt ?
                    <p class="text-gray-500 mt-1  mb-2">
                        | Actualizado:
                        {formatDate(post._updatedAt)}
                    </p>
                : <div></div>
            }
        </div>
        <div class="text-gray-400">
            {post.excerpt}
        </div>
    </div>

    <TableOfContents items={post.body} />

    <PortableText value={portableText}  components={components} />

    <!-- TODO: Show the tags correctly -->
    <!-- <div class="mt-5">
        <span>Tags: </span>
        <div class="flex flex-wrap">
            {
                post.tags.map((tag) => (
                    <a href={`/tags/${tag}`} class=" me-5 mb-3 md:mb-5 font-bold text-orange-500 hover:border-b-4 hover:border-orange-600 hover:border-dashed">
                        {`#${tag}`}
                    </a>
                ))
            }
        </div>
    </div> -->
    
    <Author />

    
</BaseLayout>