---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostDescription from '../../components/PostDescription.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import PaginationArrowsForPosts from '../../components/PaginationArrowsForPosts.astro';

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const POSTS_QUERY = `*[
    _type == "post"
    && defined(slug.current)
]|order(publishedAt desc)[0...15]{_id, title, slug, excerpt, publishedAt}
`;

const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);

const pageTitle = 'Posts Index';
---
<BaseLayout pageTitle={pageTitle}>
    <main>
        <div class="mb-5">
            <Breadcrumbs linkList={[
                {label: "Posts"}
            ]} 
            />

            <h2 class="text-3xl font-bold">Posts</h2>
            <p>Todos los articulos que he publicado.</p>
        </div>

        <div class="flex lg:flex-row flex-col flex-wrap">
            {
                posts.map((post) => (
                    <PostDescription
                        postURL = {`/posts/${post.slug.current}`}
                        postTitle={post.title}
                        postDate={post.publishedAt}
                        postDescription={post.excerpt}
                    />
                ))
                
            }
        </div>

        {/* <PaginationArrowsForPosts next={next} /> */}
    </main>

</BaseLayout>