---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostDescription from '../../components/PostDescription.astro';
import PaginationArrowsForPosts from '../../components/PaginationArrowsForPosts.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';

import { sanityClient } from "sanity:client";

export const prerender = true;
export async function getStaticPaths() {
    const TOTAL_POSTS_COUNT = `count(*[_type == "post"])`;
    const totalPosts = await sanityClient.fetch(TOTAL_POSTS_COUNT);

    const postsPerPage = 5;
    const totalPages = Math.ceil(totalPosts / postsPerPage);

    const paths = [];
    for (let i = 1; i <= totalPages; i++) {
    paths.push({
        params: { page: i.toString() },
    });
    }

    return paths;
}

const { page } = Astro.params;
const currentPage = parseInt(page) || 1;
const postsPerPage = 5;
const offset = (currentPage - 1) * postsPerPage;

const POSTS_QUERY = `{
  "posts": *[_type == "post"] | order(publishedAt desc) [${offset}...${offset + postsPerPage}] {
    _id,
    title,
    slug,
    excerpt,
    publishedAt
  },
  "total": count(*[_type == "post"])
}`;

const { posts, total } = await sanityClient.fetch(POSTS_QUERY);

const totalPages = Math.ceil(total / postsPerPage);
const hasNext = currentPage < totalPages;
const hasPrev = currentPage > 1;
const nextPage = hasNext ? currentPage + 1 : null;
const prevPage = hasPrev ? currentPage - 1 : null;

const pageTitle = `Posts - Página ${currentPage}`;
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <div class="mb-5">
            <Breadcrumbs linkList={[
                {label: "Posts", link:"/posts"},
                {label: `Página ${currentPage}`}
            ]} 
            />

            <h2 class="text-3xl font-bold">Posts</h2>
            <p>Todos los articulos que he publicado. Página {currentPage} de {totalPages}</p>
        </div>

        <div class="flex lg:flex-row flex-col flex-wrap">
            {posts.map((post) => (
                <PostDescription
                    postURL={`/posts/${post.slug.current}`}
                    postTitle={post.title}
                    postDate={post.publishedAt}
                    postDescription={post.excerpt}
                />
            ))}
        </div>

        <PaginationArrowsForPosts 
            next={nextPage ? `/posts/page${nextPage}` : null} 
            prev={prevPage ? `/posts/page${prevPage}` : null}
            currentPage={currentPage}
            totalPages={totalPages}
        />
    </main>
</BaseLayout>