---
import SiteLayout from '../../layouts/SiteLayout.astro';
import PostDescription from '../../components/PostDescription.astro';
import Icon from '../../components/Icon.astro';

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

const FEATURED_POSTS_QUERY = `*[
	contentType == "post" && featured == true
]|order(publishedAt desc){_id, title, slug, excerpt, publishedAt}
`;

const featured_posts = await sanityClient.fetch<SanityDocument[]>(FEATURED_POSTS_QUERY);

const LATEST_POSTS_QUERY = `*[
    _type == "post"
]|order(publishedAt desc)[0...5]{_id, title, slug, excerpt, publishedAt}
`;
const latest_posts = await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);

const pageTitle = 'Blog'
---

<SiteLayout pageTitle={pageTitle}>
	<main class="max-w-4xl mx-auto px-6 pb-24">
		<div class="flex flex-col items-center ">
			<div>
                <h1 class="text-4xl md:text-5xl font-bold mb-5 text-brand-orange">
                    Blog <Icon name="notebook" size={36} className="inline-block ml-2 align-middle" />
                </h1>

				<p class="text-lg mb-5 leading-loose">
				    Este es el hub técnico de <span class="font-bold italic">El Ingeniero Consciente</span>.
				</p>

				<p class="text-lg mb-5 leading-loose">
    				En este espacio publico contenido estrictamente técnico: Data Engineering, arquitectura AWS y conceptos aplicados al software. Sin reflexión extensa ni desarrollo personal. <span class="font-bold italic">Este espacio está dedicado a lo concreto, lo ejecutable y lo que puede ponerse en práctica</span>.
				</p>

				<p class="text-lg mb-5 leading-loose">Encontrarás dos formatos:</p>
                <ul class="text-lg mb-5 leading-loose list-disc list-inside">
                    <li><a class="text-brand-orange" href="/blog/page1">Posts</a>, con temas explicados en profundidad</li>
                    <li><a class="text-brand-orange" href="/blog/zips">Zips</a>, ideas técnicas comprimidas a lo esencial</li>
                </ul>


				<p class="text-lg mb-5 leading-loose">
    				Cada nuevo artículo es anunciado en la newsletter, dentro de las secciones <span class="font-bold italic">Taller de Datos</span> y <span class="font-bold italic">La Senda del Nubearquitecto</span>.
				</p>

				<p class="text-lg mb-5 leading-loose">
    				Si solo te interesa lo técnico, <span class="font-bold italic">la newsletter funciona como un sistema de notificaciones para no perderte nuevas publicaciones</span>.
				</p>

				<p class="text-lg mb-5 leading-loose">
    				Si además te interesa crecer como profesional —criterio, mentalidad y carrera— esa conversación también vive allí.
				</p>

			</div>
		</div>

		<!-- Featured -->
		<div class="flex flex-col mt-12">
			<h1 class="font-bold text-3xl block mb-5">Destacados</h1>

			<div>
				{
                    featured_posts.map((post) => (
						<PostDescription
							postURL={`/blog/${post.slug.current}`}
							postTitle={post.title}
							postDate={post.publishedAt}
							postDescription={post.excerpt}
							clickableCard={true}
						/>
                    ))

                }
			</div>
		</div>

		<!-- Latest posts -->
		<div class="flex flex-col mt-12">
			<h1 class="font-bold text-3xl block mb-5">Ultimos posts</h1>

			<div>
				{
                    latest_posts.map((post) => (
						<PostDescription
							postURL={`/blog/${post.slug.current}`}
							postTitle={post.title}
							postDate={post.publishedAt}
							postDescription={post.excerpt}
							clickableCard={true}
						/>
                    ))

                }
			</div>

			<div class="flex justify-center text-bold">
				<a href="/blog/page1" class="text-white hover:text-orange-500">
    				Todos los posts
    				<i class='fa-solid fa-arrow-right'></i>
				</a>
			</div>
		</div>
	</main>
</SiteLayout>
