---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostDescription from "../../components/PostDescription.astro";

const API_URL = import.meta.env.API_URL;

const { tag } = Astro.params;

const tagByName = await fetch (`${API_URL}/api/v2/tags/?name=${tag}`).then(response => response.json());

const tagID = tagByName.items[0].id;

const posts = await fetch (`${API_URL}/api/v2/posts/?tags=${tagID}&fields=intro`).then(response => response.json());
---
<BaseLayout pageTitle={tag}>
    <h2 class="text-2xl mb-5">
        Posts con la etiqueta 
        <span class="font-bold text-orange-500 hover:border-b-4 hover:border-orange-600 hover:border-dashed">
            { `#${tag}` }
        </span>
    </h2>

    {
        posts.meta.total_count == 0 ? 
        <h2 class="text-xl">Nada por aquí. Muy pronto voy a hablar de este tema, así que date una vuelta pronto. 😉</h2>
        :
        <Fragment />
    }

    {
        posts.items?.map((post) => 
            <PostDescription
                postURL={`/posts/${post.meta.slug}`}
                postTitle={post.title}
                postDate={post.meta.first_published_at}
                postDescription={post.intro}
            />
        )
    }
    
  </BaseLayout>