---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';
import Separator from '../components/Separator.astro';
import PostDescription from '../components/PostDescription.astro';

const API_URL = import.meta.env.API_URL;

const featured_posts = await fetch (`${API_URL}/api/v2/posts/?featured=true&fields=intro&limit=3`).then(response => response.json());

const latest_posts = await fetch (`${API_URL}/api/v2/posts/?fields=intro&limit=3`).then(response => response.json());

const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<div class="flex flex-col items-center md:flex-row">
			<img class="w-64 lg:me-5" src="https://res.cloudinary.com/dwczjy8e4/image/upload/v1699897194/blog/elias_lofi_xdlf5p.png" alt="">
			<div>
				<h1 class="text-4xl font-bold block mb-3">¡Bienvenido/a a mi blog!</h1>
				
				<p class="mb-3">Soy Elias, programador autodidacta desde hace 2 años. Me gusta hablar de mi viaje como developer, desarrollo personal, filosofía y por supuesto, desarrollo de software en general.</p>
				<p class="mb-3">Siendo que soy músico y me encantan los videojuegos, muy probablemente hable de estos temas también. Hay de todo un poco acá, así que si algo de lo que digo te gusta o te sirve, me sentiré más que complacido.</p>

				<div>
					<a href="https://www.evelazquez.dev/" target="_blank">
						<i class='bx bxs-briefcase text-lg lg:text-2xl me-2 text-white hover:text-orange-500 hover:animate-pulse'></i>
					</a>

					<Social platform="github" username="eliasvelazquezdev"/>
					<Social platform="linkedin" username="eliassvelazquez"/>
					<Social platform="twitter" username="esvdev"/>
				</div>
			</div>
		</div>

		<Separator />

		<!-- Featured -->
		<div class="flex flex-col">
			<h1 class="font-bold text-3xl block mb-5">Destacados</h1>

			<div>
				{
                    
                    featured_posts.results?.map((post) => (
						<PostDescription
							postURL={`/posts/${post.meta.slug}`}
							postTitle={post.title}
							postDate={post.meta.first_published_at}
							postDescription={post.intro}
						/>
                    ))
                    
                }
			</div>
		</div>

		<Separator />

		<!-- Latest posts -->
		<div class="flex flex-col">
			<h1 class="font-bold text-3xl block mb-5">Ultimos posts</h1>

			<div>

				{
                    
                    latest_posts.results?.map((post) => (
						<PostDescription
							postURL={`/posts/${post.meta.slug}`}
							postTitle={post.title}
							postDate={post.meta.first_published_at}
							postDescription={post.intro}
						/>
                    ))
                    
                }
			</div>

			<div class="flex justify-center text-bold">
				<a href="/posts/" class="text-white hover:text-orange-500">
				Todos los posts
				<i class='bx bx-right-arrow-alt'></i>
				</a>
			</div>
		</div>
	</main>
</BaseLayout>
