---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';
import Separator from '../components/Separator.astro';
import PostDescription from '../components/PostDescription.astro';

import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const FEATURED_POSTS_QUERY = `*[
	_type == "post" && featured == true
]|order(publishedAt desc){_id, title, slug, excerpt, publishedAt}
`;

const featured_posts = await sanityClient.fetch<SanityDocument[]>(FEATURED_POSTS_QUERY);

const LATEST_POSTS_QUERY = `*[
    _type == "post"
]|order(publishedAt desc)[0...5]{_id, title, slug, excerpt, publishedAt}
`;
const latest_posts = await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);

const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<div class="flex flex-col items-center ">
			<div class="w-64 lg:w-96 lg:me-5 h-64 lg:h-96 bg-cover bg-center bg-no-repeat rounded-full mb-5" 
				style="background-image: url('https://res.cloudinary.com/dwczjy8e4/image/upload/v1729968282/blog/esvdev_lofi_blog_mx4t7x.png')">
			</div>
			
			<div>
				<h1 class="text-4xl font-bold block mb-3">¡Bienvenido/a a mi blog!</h1>
				
				<p class="text-lg mb-5 leading-loose">Soy Elias, programador autodidacta desde hace 3 años. Desde Febrero de 2024, me desenvuelvo como <strong>Data Engineer JR</strong> en una startup. Actualmente me encuentro capacitándome para profundizar en esta rama IT, mejorando en lo que ya sé hacer y buscando nuevas formas de hacerlo mejor.</p>
				<p class="text-lg mb-5 leading-loose">Me gusta hablar de mi viaje como profesional IT, desarrollo personal, filosofía y por supuesto, desarrollo de software en general.</p>
				<p class="text-lg mb-5 leading-loose">También soy músico, me encantan los videojuegos y probablemente hable de estos temas también. Hay de todo un poco acá, así que si algo de lo que digo te gusta o te sirve, me sentiré más que complacido.</p>
				<p class="text-lg mb-5 leading-loose">Me gusta mucho conocer gente, ayudar y acompañar, sobre todo a los que están dando sus primeros pasos en programación. ¡Así que date una vuelta por mis redes y hablemos! O también podés sumarte a mi comunidad en Discord llamada <a href="https://shareit.lat/aboutus" target="_blank" class="font-bold">ShareIT</a> para conocer gente y aprender más sobre tecnología.</p>

				<div class="mt-5">
					<a href="https://www.evelazquez.dev/" target="_blank">
						<i class='bx bxs-briefcase text-lg lg:text-2xl me-2 text-white hover:text-orange-500 hover:animate-pulse'></i>
					</a>

					<Social platform="github" username="eliasvelazquezdev"/>
					<Social platform="linkedin" username="eliassvelazquez"/>
					<Social platform="twitter" username="esvdev"/>
				</div>
			</div>
		</div>

		<Separator />

		<!-- Featured -->
		<div class="flex flex-col">
			<h1 class="font-bold text-3xl block mb-5">Destacados</h1>

			<div>
				{
                    featured_posts.map((post) => (
						<PostDescription
							postURL={`/posts/${post.slug.current}`}
							postTitle={post.title}
							postDate={post.publishedAt}
							postDescription={post.excerpt}
						/>
                    ))
                    
                }
			</div>
		</div>

		<Separator />

		<!-- Latest posts -->
		<div class="flex flex-col">
			<h1 class="font-bold text-3xl block mb-5">Ultimos posts</h1>

			<div>
				{
                    latest_posts.map((post) => (
						<PostDescription
							postURL={`/posts/${post.slug.current}`}
							postTitle={post.title}
							postDate={post.publishedAt}
							postDescription={post.excerpt}
						/>
                    ))
                    
                }
			</div>

			<div class="flex justify-center text-bold">
				<a href="/posts/" class="text-white hover:text-orange-500">
				Todos los posts
				<i class='bx bx-right-arrow-alt'></i>
				</a>
			</div>
		</div>
	</main>
</BaseLayout>
