---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Author from "../../components/Author.astro";
import { getCollection } from 'astro:content';
import { marked } from "marked";


const { slug } = Astro.params;
const zipsEntries = await getCollection('zips');
const zip = zipsEntries.find(entry => entry.id.replace(/\.md$/, '') === slug);

if (!zip) {
    throw new Error(`Zip entry not found for slug: ${slug}`);
}

const htmlContent = marked.parse(zip.body);
---

<BaseLayout pageTitle={zip.data.title}>
    <main>
        <div class="mb-14">
            <h1 class="text-4xl font-bold mb-5 text-orange-500">{zip.data.title}​</h1>
            <p class="text-gray-500 mt-1 mb-2">
                <i class='bx bxs-calendar me-1'></i>
                {zip.data.creation_date}
            </p>
            <div class="text-gray-400 w-2/3 italic">
                <Fragment set:html={zip.data.description}>
            </div>
        </div>

        <div class="markdown-parsed-content" set:html={htmlContent}></div> 
    </main>

    <Author />
</BaseLayout>
