---
const {prev, next, tagName} = Astro.props;

const getPageNumber = (url) => {
  const urlParams = new URL(url).searchParams;
  return urlParams.get('page');
};

const prevPageNumber = prev ? getPageNumber(prev) : null;
const nextPageNumber = next ? getPageNumber(next) : null;

const prevPage = prevPageNumber ? `/tags/${tagName}/page${prevPageNumber}` : (prev ? `/tags/${tagName}/` : null);
const nextPage = nextPageNumber ? `/tags/${tagName}/page${nextPageNumber}` : null;


--- 
<div class="flex justify-center mt-10">
    <p class="font-bold text-lg">
        {
            !prevPage ? 
                <span class="me-3 text-slate-500" >
                    <i class='bx bx-left-arrow-alt  '></i>
                    Ant.
                </span>
            :
                <a class="me-3 text-white hover:text-orange-500" href={prevPage}>
                    <i class='bx bx-left-arrow-alt '></i>
                    Ant.
                </a>
        }    
    </p>

    <p class="font-bold text-lg">
        {
            !nextPage ?
                <span class="me-3 text-slate-500">
                    Sig.
                    <i class='bx bx-right-arrow-alt'></i>
                </span>
            :
                <a class="me-3 text-white hover:text-orange-500" href={nextPage}>
                    Sig.
                    <i class='bx bx-right-arrow-alt'></i>
                </a>
        }
    </p>
</div>