---
const { platform, username} = Astro.props;
---

{platform == "linkedin" ? 
            <a target="_blank" href={`https://www.${platform}.com/in/${username}`}>
                <i class={`bx bxl-${platform} text-lg lg:text-2xl me-2 hover:text-orange-500 hover:animate-pulse `}></i>
            </a> 
            : 
            <a target="_blank" href={`https://www.${platform}.com/${username}`}>
                <i class={`bx bxl-${platform} text-lg lg:text-2xl me-2 hover:text-orange-500 hover:animate-pulse `}></i>
            </a>}